<div class="row">
    <div class="col s12 m8">
        <h3>Task Details </h3>
        <h4>Title : {{task.title}}
            <small>{{{editIcon task.user user task._id false}}}</small>
        </h4>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">Created at : {{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                <h4><strong>Description:</strong></h4>
                <h5>{{{task.description}}}</h5>
            </div>

        </div>
        <a href="/dashboard" class="btn blue">Close</a>
    </div>
</div>